<!DOCTYPE html>
<html>

<head>
    <title>Blog Generator</title>

    <link
        rel="stylesheet"
        href="/static/style.css"
    >
</head>

<body>

<div class="container">

    <h1>Blog & Article Generator</h1>

 <input
    type="text"
    id="companyUrl"
    placeholder="Enter company website URL (e.g. https://trilliantdigital.com)"
>

    <button onclick="generateTopics()">
        Generate Topics
    </button>

    <div id="response"></div>

</div>

<script src="/static/script.js"></script>

</body>
</html>